<%- include("../_partials/admin-header", { title: "Users - OAI Reverse Proxy Admin" }) %>
    <h1>User Token List</h1>
    
    <% if (users.length === 0) { %>
    <p>No users found.</p>
    <% } %>
    <table>
      <thead>
        <tr>
          <th>Token</th>
          <th <% if (sort==="ip") { %>class="active"<% } %> ><a href="/admin/users?sort=ip">IPs</a></th>
          <th <% if (sort==="promptCount") { %>class="active"<% } %> ><a href="/admin/users?sort=promptCount">Prompts</a></th>
          <th>Type</th>
          <th <% if (sort==="createdAt") { %>class="active"<% } %> ><a href="/admin/users?sort=createdAt">Created</a></th>
          <th <% if (sort==="lastUsedAt") { %>class="active"<% } %> ><a href="/admin/users?sort=lastUsedAt">Last Used</a></th>
          <th>Banned?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
        <tr>
          <td><%= user.token %></td>
          <td><%= user.ip.length %></td>
          <td><%= user.promptCount %></td>
          <td><%= user.type %></td>
          <td><%= user.createdAt %></td>
          <td><%= user.lastUsedAt ?? "never" %></td>
          <td><%= user.disabledAt ? "Yes" : "No" %> <%= user.disabledReason ? `(${user.disabledReason})` : "" %></td>
          <td class="actions">
            <a href="/admin/users/<%= user.token %>/edit" title="Edit">✏️</a>
            <a href="/admin/users/<%= user.token %>/delete" title="Disable">🚫</a>
          </td>
        </tr>
        <% }); %>
    </table>

    <ul class="pagination">
      <% if (page > 1) { %>
      <li><a href="/admin/users?page=<%= page - 1 %>">&laquo;</a></li>
      <% } %> <% for (var i = 1; i <= pageCount; i++) { %>
      <li <% if (i === page) { %>class="active"<% } %>><a href="/admin/users?page=<%= i %>"><%= i %></a></li>
      <% } %> <% if (page < pageCount) { %>
      <li><a href="/admin/users?page=<%= page + 1 %>">&raquo;</a></li>
      <% } %>
    </ul>
<%- include("../_partials/admin-footer") %>
