<%- include("../_partials/admin-header", { title: "View User - OAI Reverse Proxy Admin" }) %>
<h1>Additional Options</h1>
<body>
  <form action="/admin/manage/recheck-keys" method="POST">
     <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Force Recheck Keys</button>
  </form>
</body>

<h2>Temporary Updates</h2>

<a>Page:</a>
<body>
  <form action="/admin/manage/update-page" method="POST">
     <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="text" name="base64_page" placeholder="Enter base64 for page...">
    <button type="submit">Update</button>
  </form>
</body>
<a>Aliases:</a>
<body>
  <form action="/admin/manage/update-aliases" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="text" name="base64_aliases" placeholder="Enter base64 for aliases...">
    <button type="submit">Update</button>
  </form>
</body>
<a>Prompt Injections:</a>
<body>
  <form action="/admin/manage/update-promptinjections" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="text" name="base64_pinject" placeholder="Enter base64 for prompt injections...">
    <button type="submit">Update</button>
  </form>
</body>
<a>Unauthorized Response:</a>
<body>
  <form action="/admin/manage/update-unauthresponse" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="text" name="base64_unauthresponse" placeholder="Enter string for unauthorized response...">
    <button type="submit">Update</button>
  </form>
</body>


<%- include("../_partials/admin-footer") %>
