<%- include("../_partials/admin-header", { title: "View User - OAI Reverse Proxy Admin" }) %>
<h1>View User</h1>
<style>
  th:nth-child(n+1) {
        background-color:#0a0a0a;
    }

	th.active {
		background-color:#301934;
	}

	a:link {
	  color: purple;
	  text-decoration: none;
	}

	a:visited {
	  color: pink;
	  text-decoration: none;
	}
	th a:visited {
	  color: white;
	  text-decoration: none;
	}
	</style>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  <tbody>
    <tr>
      <th scope="row">Token</th>
      <td><%- user.token %></td>
    <tr>
      <th scope="row">Type</th>
      <td><%- user.type %></td>
    </tr>
	<tr>
      <th scope="row">Rate Limit</th>
      <td><%- user.rateLimit %></td>
    </tr>
	<tr>
      <th scope="row">Prompt Gpt Count</th>
      <td><%- user.promptGptCount %></td>
    </tr>
	<tr>
      <th scope="row">Prompt Claude Count</th>
      <td><%- user.promptClaudeCount %></td>
    </tr>
    <tr>
      <th scope="row">Gpt Token Count</th>
      <td><%- user.tokenGptCount %></td>
    </tr>
	<tr>
      <th scope="row">Claude Token Count</th>
      <td><%- user.tokenClaudeCount %></td>
    </tr>
    <tr>
      <th scope="row">Created At</th>
      <td><%- user.createdAt %></td>
    </tr>
    <tr>
      <th scope="row">Last Used At</th>
      <td><%- user.lastUsedAt || "never" %></td>
    </tr>
    <tr>
      <th scope="row">Disabled At</th>
      <td><%- user.disabledAt %></td>
    </tr>
    <tr>
      <th scope="row">Disabled Reason</th>
      <td><%- user.disabledReason %></td>  
    </tr>
    <tr>
      <th scope="row">IPs</th>
      <td>
        <a href="#" id="ip-list-toggle">Show all (<%- user.ip.length %>)</a>
        <ol id="ip-list" style="display:none; padding-left:1em; margin: 0;">
          <% user.ip.forEach((ip, index) => { %>
			<li><code><%- index + 1 %></code></li>
		  <% }) %>
          </ol>
      </td>
    </tr>
	<tr>
  <th scope="row">IPs Prompt Count's</th>
  <td>
	<a href="#" id="ipcount-list-toggle">Show all (<%= Array.from(user.ipPromptCount.values()).reduce((acc, count) => acc + count, 0) %>)</a>
	<ol id="ipcount-list" style="display:none; padding-left:1em; margin: 0;">
	  <% Array.from(user.ipPromptCount.entries()).forEach(([ip, count], index) => { %>
		<li><code><%= index + 1 %> (Prompts: <%= count %>)</code></li>
	  <% }) %>
	</ol>
  </td>
  <tr>
      <th scope="row">Prompt Limit</th>
      <td><%- user.promptLimit %></td>
    </tr>
	<tr>
      <th scope="row">Time Limit</th>
      <td><%- user.timeLimit %></td>
    </tr>
	<tr>
      <th scope="row">End Time Limit</th>
      <td><%- user.endTimeLimit %></td>
    </tr>
</tr>
	
  </tbody>
</table>

<script>
  document.getElementById("ip-list-toggle").addEventListener("click", (e) => {
    e.preventDefault();
    document.getElementById("ip-list").style.display = "block";
    document.getElementById("ip-list-toggle").style.display = "none";
  });
  document.getElementById("ipcount-list-toggle").addEventListener("click", (e) => {
    e.preventDefault();
    document.getElementById("ipcount-list").style.display = "block";
    document.getElementById("ipcount-list-toggle").style.display = "none";
  });
</script>
  
<%- include("../_partials/admin-footer") %>
