<!DOCTYPE html> <html> <head> <title>User Info</title> <meta name="viewport" content="width=device-width, initial-scale=1"> 



<style> 
.header { background: linear-gradient(to bottom right, #8955c0, #4d0099); background-color: #8955c0; padding: 20px; text-align: center; } 
html {
  background-color: #1a1a1a;
}
body {
  background-color: #1a1a1a;
  color: white;
}

.box {
  display: flex;
  margin-bottom: 10px;
}

.key {
  width: 33%;
  background-color: #5a5a5a;
  padding: 5px;
}

.value {
  flex-grow: 1;
  background-color: #3e3e3e;
  padding: 5px;
}
.value2 {
  flex-grow: 1;
  background-color: #5e5e5e;
  padding: 5px;
}
.value3 {
  width: 100%;
  background-color: #5e5e5e;
  padding: 5px;
}
</style> 
<script>
if (window.location.href.includes("?")) {
	let notValid = ''
	if (window.location.href.split("?")[1].split("=")[0] == "notValid") {
		notValid = window.location.href.split("?")[1].split("=")[1];
	}

	if (notValid.length > 16) {
	  alert('Alias/Name can have max of 16 characters.');
	  var url = window.location.href;
	  var baseUrl = url.split('?')[0];
	  window.location.href = baseUrl;
	} else if (/[^A-Za-z0-9_\s]/.test(notValid)) {
	  alert('Alias/Name contains special characters. Only A-Z, a-z, 0-9, space, and underscore are allowed.');
	  var url = window.location.href;
	  var baseUrl = url.split('?')[0];
	  window.location.href = baseUrl;
	} else {
	}}
</script>
<script>
  function askForName() {
    var name = prompt("Please enter your name:");
    if (name !== null) {
      // Set the value of a hidden input field with the entered name
      var nameField = document.createElement("input");
      nameField.setAttribute("type", "hidden");
      nameField.setAttribute("name", "name");
      nameField.setAttribute("value", name);
      document.querySelector("form").appendChild(nameField);
    }
    
    // Submit the form
    document.querySelector("form").submit();
  }
</script>
</head> 
<body> 
<% if (user.type === "normal") { %>
  <div class="header"> 
    <h1>User Info</h1> 
  </div>
  </body>
  <br>
  <div class="box">
    <div class="key">Your Sha256:</div>
    <div class="value"><%= user.tokenHash || "Not Available" %></div>
  </div>
  <div class="box">
    <div class="key">Total Prompts:</div>
    <div class="value"><%= user.promptCount %></div>
  </div>
  <% if (user.promptLimit != -1) { %>
  <div class="box">
    <div class="key">Daily Prompts Left:</div>
    <div class="value"><%= user.promptCount-user.promptLimit %></div>
  </div>
  <div class="box">
    <div class="key">Daily Limit Refills At:</div>
    <div class="value"><%= new Date(user.endTimeLimit).toLocaleString() %></div>
  </div>
  
  <% } %>
  <div class="box">
    <div class="key">Total Tokens Used:</div>
    <div class="value"><%= user.tokenGptCount + user.tokenClaudeCount %></div>
  </div>
  <div class="box">
    <div class="key">Amount of Unique Ip's overall:</div>
    <div class="value"><%= user.ip.length %></div>
  </div>
  <div class="box">
    <div class="key">Your Alias/Name</div>
    <div class="value"><%= user.alias || "Degenerate" %></div>
	<form class="value2" action="/user/manage/change-alias" method="POST">
	   <input type="hidden" name="_csrf_user" value="<%= csrfTokenUser %>">
	   <button class="value3" type="button" onclick="askForName()">Change</button>
	</form>
  </div>
<% } else { %>
	<div class="header"> 
    <h1>User Info</h1> 
  </div>
  </body>
  <br>
  <div class="box">
    <div class="key">Your Sha256:</div>
    <div class="value"><%= user.tokenHash || "Not Available" %></div>
  </div>
  
  <% if (user.promptLimit === -1) { %>
	<div class="box">
    <div class="key">Time Left:</div>
	
	<% if (user.endTimeLimit === -1) { %>
		<div class="value">Not yet activated, use it once to start timer, ( <%= user.timeLimit/60 %> Minutes ) </div>
	<% } else { %>
		<div class="value">Expires at: <%= new Date(user.endTimeLimit).toLocaleString() %></div>
	<% } %>
	</div
  
  <% } else { %>
	<div class="box">
    <div class="key">Prompts Left:</div>
    <div class="value"><%= user.promptLimit-user.promptCount %></div>
	</div>
  <% } %>

  
<% } %>



</html>